<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/main.css">
        <title>BattleStats Replay Analyser</title>
    </head>
    <body>
        <a href="/upload">Upload a replay</a>
        
    </body>
</html>