<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/main.css">
        <title>BattleStats Player Stats</title>
    </head>
    <body>
        <h1>Player Statistics: <%= playerid %></h1>
    </body>
</html>