/* Main CSS file. */
/* Used in most places */

/* Navigation bar styles */
.navbar {
    background-color: #333;
    color: #ffffff;
    padding-right: 20px;
    margin: 20px;   
    width: 70%;
    border-radius: 10px;
    display: inline-block;
    height: 65px;
}
.navbutton, .navtitle {
    background-color: #333;
    color: white;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    font-size: large;
}
.navbutton:hover {
    background-color: #555;
}

/* Main content styles */
body {
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
}
article {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 20%;
    margin-right: 20%;
}
ul, ol {
    display: table;
    margin: 0 auto;
    text-align: left; /* or center, depending on your preference */
}
.success {
    color: green;
}
.error {
    color: red;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* Grid item definitions */
.full {
    grid-column-start: 1;
    grid-column-end: 3;
}
.l {
    grid-column-start: 1;
    grid-column-end: 2;
}
.r {
    grid-column-start: 2;
    grid-column-end: 3;
}
.title {
    text-align: center;
}

/* Button styles */
button, 
input[type="submit"], 
input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #bebebe;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover, 
input[type="submit"]:hover, 
input[type="button"]:hover {
    background-color: #858585;
}