<html>
    <head>
        <title>BattleStats</title>
        <link href="/static/main.css" rel="stylesheet">
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>
        {% if playerdata %}
        <script>let shortid = {{playerdata.shortid}}</script>
        <script src="/static/charts.js" defer></script>
        {% endif %}
    </head>
    <body>
        <div class="main">
            <h1>BattleStats</h1>
            <form method="POST">
                <p>Enter a shortId here:</p>
                <input type="text" id="shortid" name="shortid">
                <input type="submit">
            </form>

            <br><br><br>
            {% if playerdata %}
            <div class="playerdata">
                <h2>{{playerdata.name}}</h2>
                <p>Lifetime Trophies: {{playerdata.trophies}}</p>
                <br>
                <p>Wins: {{playerdata.wins}}</p>
                <p>Losses: {{playerdata.losses}}</p>
                <p>WR: {{playerdata.wr}}%</p>
                <br>
                <p>Current Win Streak: {{playerdata.current_ws}}</p>
                <p>Longest Win Streak: {{playerdata.longest_ws}}</p>
                <br>
                <p>Total Turns Taken: {{playerdata.turns}}</p>
                <h3>Graphs</h3>
                <p>Winstreak</p>
                <canvas id="winstreak" style="width:100%;max-width:700px"></canvas>
                <p>Winrate</p>
                <canvas id="winrate" style="width:100%;max-width:700px"></canvas>
                <p>Trophies</p>
                <canvas id="trophies" style="width:100%;max-width:700px"></canvas>
            </div>
            {% endif %}
        </div>
    </body>
</html>