/* CSS for the main page */
body {
    font-family: Arial, sans-serif;
    padding: 0%;
    margin: 0%;
    text-align: center;
    align-items: center;
}
article {
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    align-items: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}