<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/login.css">
        <title>Login | BattleStats</title>
    </head>
    <body>
        <div class="main">
            <h1>Login</h1>
            <span>
                <form>
                    <label for="username">Username</label><br>
                    <input type="text" name="username">
                    <br>
                    <label for="password">Password</label><br>
                    <input type="password" name="password">
                    <br>
                    <input type="submit" value="Login">
                    <br>
                    <a href="/register">Register</a>
                </form>
            </span>
        </div>
    </body>
</html>