<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/login.css">
        <title>Login | BattleStats</title>
    </head>
    <body>
        <div class="main">
            <h1>Login</h1>
            <span class="error">
                {% if error %}
                    <p style="color:red;text-align: center;">{{ error }}</p>
                {% endif %}
            </span>
                <form action="/account/login" method="post">
                    <label for="username">Username</label><br>
                    <input type="text" name="username">
                    <br>
                    <label for="password">Password</label><br>
                    <input type="password" name="password">
                    <br><br>
                    <input id="login" type="submit" value="Login">
                    <br><br>
                    <a style="text-align: center;" href="/account/register">Register</a>
                </form>
            </span>
        </div>
    </body>
</html>