{% extends "main.html" %}

{% block content %}

        <h1>Home</h1>
        <h2>Hello, {{ user.name }}</h2>
        <p>Email: {{ user.email }}</p>
        <p>ID: {{ user.id }}</p>
        <h3>Stats</h3>
        {% set stats = user.get_stats() %}
        <p>Wins: {{ stats['wins'] }}</p>
        <p>Losses: {{ stats['losses'] }}</p>
        <p>Win Rate: {{ round(int(stats['wins']) / (int(stats["wins"])+int(stats["losses"])), 0) }}%</p>
        <p>Current Win Streak: {{ stats["currentStreak"] }}</p>
        <p>Longest Win Streak: {{ stats["longestStreak"] }}</p>

        <h3>League</h3>
        {% set league = user.get_league() %}
        <p>Trophies: {{ league["trophies"] }}</p>
        <p>Diamonds: {{ league["diamonds"] }}</p>

        <h3>Avatar Inventory</h3>
        {% set inventory = user.get_avatar_inventory() %}
        <ul>
        {% for part in inventory["avatarParts"] %}
                <li>{{ part["definitionId"] }}</li>
        {% endfor %}
        </ul>

        <h3>Medals (raw)</h3>
        {% set medals = user.get_medals() %}
        <ul>
        {% for medal in medals["medals"] %}
                <li>{{ medal["definitionId"] }}</li>
        {% endfor %}
        </ul>

        <h3>Fleets (raw)</h3>
        {% set fleets = user.get_fleets() %}
        
        {% for fleet in fleets["customFleets"] %}
                <h4>{{ fleet["name"] }}</h4>
                <ul>
                {% for ship in fleet["ships"] %}
                        <li>{{ ship["definitionId"] }}</li>
                {% endfor %}
                </ul>
        {% endfor %}

{% endblock %}