{% extends "main.html" %}

{% block content %}

        <h1>Home</h1>
        <h2>Hello, {{ user.name }}</h2>
        <p>Email: {{ user.email }}</p>
        <p>ID: {{ user.id }}</p>
        <h3>Stats</h3>
        <p>Wins: {{ user.stats['wins'] }}</p>
        <p>Losses: {{ user.stats['losses'] }}</p>
        <p>Win Rate: {{ int(100*(int(user.stats['wins']) / (int(user.stats["wins"])+int(user.stats["losses"])))) }}%</p>
        <p>Current Win Streak: {{ user.stats["currentStreak"] }}</p>
        <p>Longest Win Streak: {{ user.stats["longestStreak"] }}</p>

        <h3>League</h3>
        <p>Trophies: {{ user.league["trophies"] }}</p>
        <p>Diamonds: {{ user.league["diamonds"] }}</p>

        <h3>Avatar Inventory</h3>
        <ul>
        {% for part in user.inventory %}
                <li>{{ part["definitionId"] }}</li>
        {% endfor %}
        </ul>

        <h3>Medals</h3>
        <ul>
        {% for medal in user.medals %}
                <li>{{ medal["definitionId"] }}</li>
        {% endfor %}
        </ul>

        <h3>Fleets</h3>
        {% for fleet in user.fleets %}
                <h4>{{ fleet["name"] }}</h4>
                <ul>
                {% for ship in fleet["ships"] %}
                        <li>{{ ship["definitionId"] }}</li>
                {% endfor %}
                </ul>
        {% endfor %}

{% endblock %}