<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br>
            <label for="authtoken">BattleTabs Auth Token:</label>
            <input type="text" name="authtoken" id="authtoken" required>
            <br>
            <input type="submit" value="Sign Up">
        </form>
    </body>
</html>