{% extends "main.html" %}
{% block content %}
        <h1>Sign Up</h1>
        <p>{% if message %}{{message}}{% endif %}</p>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br>

            <label for="email">BattleTabs Email:</label>
            <input type="email" name="email" id="email" required>
            <br>
            <label for="bt">BattleTabs Password:</label>
            <input type="password" name="bt" id="bt" required>
            <br>
            <p>Note: You Battletabs Password will be deleted once it has been used to generate an authToken.</p><br>
            <input type="submit" value="Sign Up">
        </form>
{% endblock %}