{% extends "main.html" %}
{% block title %}<title>{{player[7]}} | BattleStats</title>{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/player.css">
<script src="/static/js/chart.js"></script>
{% if stats %}
<script defer>
document.addEventListener('DOMContentLoaded', function() {
    const data = {{ history | tojson }}.reverse();
    const winrateCanvas = document.getElementById('winrate');
    const trophiesCanvas = document.getElementById('trophies');
    var winrateData = [];
    var trophiesData = [];
    var timestamps = [];
    data.forEach((item) => {
        winrateData.push(Math.round(item[3]*100));
        trophiesData.push(item[5]);
        timestamps.push(item[9]);
    });
    new Chart(winrateCanvas, {
        type: 'line',
        data: {
            labels: timestamps,
            datasets: [{
                label: 'Win Rate (%)',
                data: winrateData,
                borderWidth: 1
            }]
        }
    });
    new Chart(trophiesCanvas, {
        type: 'line',
        data: {
            labels: timestamps,
            datasets: [{
                label: 'Trophies',
                data: trophiesData,
                borderWidth: 1
            }]
        }
    });
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="full">
    <h1>{{player[7]}}</h1>
    <h3>Last seen: {{now - player[10]}} ago</h2>
    {% if stats %}
    <div class="stat_container">
        <div>
            <h3>Games</h3>
            <p>Total: {{stats[4]}}</p>
            <p>Wins: {{stats[1]}}</p>
            <p>Losses: {{stats[2]}}</p>
            <p>Win Rate: {{round(stats[3]*100,0)}}%</p>
        </div>
        <div>
            <h3>League</h3>
            <p>Current League: {{stats[5]}}</p>
            <p>Diamonds: {{stats[6]}}</p>
        </div>
        <div>
            <h3>Currency</h3>
            <p>Gold: {{stats[7]}}</p>
            <p>Gems: {{stats[8]}}</p>
        </div>
    </div>
    <div class="chart_container">
        <div>
            <canvas id="winrate"></canvas>
        </div>
        <div>
            <canvas id="trophies"></canvas>
        </div>
    {% else %}
    <p>No stats available for this player.</p>
    {% endif %}
</div>
{% endblock %}